<div>
    <h2 class="header_text container-fluid"> Happy shopping! </h2>
    <br /> <h3></h3>
</div>
<body>
<div class="container-fluid">
    <div class="row">
        {{#each products}}
        <div class="col-md-3" id="{{this._id}}">
            <figure class="card card-product">
                <div class="img-wrap"><img src={{this.pic}} alt="No image"></div>
                <figcaption class="info-wrap">
                    <h4 class="title"> <a class="each_product_title" href="/products/{{this._id}}">{{this.name}}</a>
                    </h4>
                    <p class="desc">{{this.category}}</p>
                    <div class="rating-wrap">
                        <div class="label-rating"></div>
                    </div>
                </figcaption>
                <div class="bottom-wrap">
                    	<div class="single-product" id="{{this._id}}">
                            <button class="btn btn-sm button-primary float-right" id="add-to-cart-{{@index}}"> Add to cart </button>
                        </div>
                    <div class="price-wrap h5">
                        <span class="price-new">${{this.price}}.00</span>
                    </div>
                </div>
            </figure>
        </div>

        {{else}}
        <p>No items match your criteria.</p>
        {{/each}}
    </div>

    <div class="col-12">
        <nav aria-label="...">
            <div>
                <br/>
                <label for "pagination">
                    Page navigation
                <ul class="pagination pagination-centered" id="navigation">
                    {{#paginate pagination type="first"}}
                        <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link-black" href="?page={{n}}">First</a></li>
                    {{/paginate}}
                    
                    {{#paginate pagination type="previous"}}
                        <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link-black" href="?page={{n}}" tabindex="-1">Previous</a></li>
                    {{/paginate}}

                    {{#paginate pagination type="middle" limit="7"}}
                        <li class="page-item disabled" ><a {{#if active}}class="page-link-black-active" {{else}}class="page-link-black" {{/if}} href="?page={{n}}">Page {{n}}</a></li><span class="sr-only">(current)</span></a>
                    {{/paginate}}

                    {{#paginate pagination type="next"}}
                        <li {{#if disabled}}class="disabled page-item" {{/if}}><a class="page-link-black" href="?page={{n}}">Next</a></li>
                    {{/paginate}}
                    
                    {{#paginate pagination type="last"}}
                        <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link-black" href="?page={{n}}">Last</a></li>
                    {{/paginate}}
                </ul>
                </label>
            </div>
        </nav>
    </div>
</div>
<br/>
<br/>
<br/>
</body>