<div class="shopping-cart container-fluid">
    <h2 class="header_text"> Shopping cart </h2>
    <br />
    <br />
</div>
<div class="container-fluid">
    <div class="row">
        {{#each cartList}}
        <div class="col-md-3" id="{{this._id}}">
            <figure class="card card-product">
                <div class="img-wrap"><img src={{this.pic}} alt="No image"></div>
                <figcaption class="info-wrap">
                    <h4 class="title"> <a class="each_product_title" href="/products/{{this._id}}">{{this.name}}</a> - <span class="price-new">${{this.price}}.00</span></h4>
                </figcaption>
            </figure>
            <button class="btn btn-sm btn-outline-primary" id="remove-item-cart-{{@index}}">remove</button>
            <br/>
            <br/>
            <br/>
        </div>

        {{else}}
        <p class="container-fluid">No items in your cart.</p>
        {{/each}}
    </div>

    <br />
    <br />
    <div id="cart-summary">
        <div class="price-wrap h3">
            <span class="price-new">Total price: ${{cartTotalValue}}.00</span>
        </div>
        <form id="check-out" action="/users/checkout">
            <button class="btn btn-lg btn-primary">Check out</button>
            <button class="btn btn-lg btn-primary" id="clear-cart">Clear cart</button>
        </form>
    </div>
    <br />
</div>
<script>
    let cartList = "{{cartList}}"
</script>