<div class="container">
	<div class="card">
		<div class="row">
			<aside class="col-sm-5 border-right">
				<article class="gallery-wrap">
					<div class="img-big-wrap">
						<div> <a href="#"><img class="img-fluid w-100" src="{{prodDetails.pic}}"></a></div>
					</div> <!-- slider-product.// -->
				</article> <!-- gallery-wrap .end// -->
			</aside>
			<aside class="col-sm-7">
				<article class="card-body p-5">
					<h3 class="title mb-3">{{prodDetails.name}}</h3>

					<p class="price-detail-wrap">
						<span class="price h3 text-warning">
							<span class="currency">US ${{prodDetails.price}}
							</span>
					</p> <!-- price-detail-wrap .// -->
					<h4>
						<dt>Description</dt>
					</h4>
					<dl class="item-property card container-fluid">
						<dt>Rating</dt>
						{{prodDetails.description.rating}}
						<dt>Quantity</dt>
						{{prodDetails.description.quantity}}
						<dt>Energy-kcal_100g</dt>
						{{prodDetails.description.energy-kcal_100g}}
						<dt>Energy_100g</dt>
						{{prodDetails.description.energy_100g}}
						<dt>Fat_100g</dt>
						{{prodDetails.description.fat_100g}}
						<dt>Saturated-fat_100g</dt>
						{{prodDetails.description.saturated-fat_100g}}
					</dl>

					<dl class="param param-feature">
						<dt>Delivery</dt>
						<dd>Russia, USA, and Europe</dd>
					</dl> <!-- item-property-hor .// -->

					<hr>
					<div class="row">
						<div class="col-sm-5">
							<dl class="param param-inline">
								<dt>Quantity: </dt>
								<dd>
									<select class="form-control form-control-sm" style="width:70px;">
										<option> 1 </option>
										<option> 2 </option>
										<option> 3 </option>
									</select>
								</dd>
							</dl> <!-- item-property .// -->
						</div> <!-- col.// -->
					</div> <!-- row.// -->
					<hr>
					<div class="single-product" id="{{prodDetails._id}}">
						<button class="btn btn-lg btn-primary text-uppercase" id="add-to-wish-list-0"> Add to wishlist </button>
						<button class="btn btn-lg btn-outline-primary text-uppercase" id="add-to-cart-0"> Add to cart
						</button>
					</div>
				</article> <!-- card-body.// -->
			</aside> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- card.// -->

</div>
</div>

<br/><br/><br/>

<section class="content-item" id="comments">
    <div class="container">         
    	<div class="row">
            <div class="col-sm-8" id="{{prodDetails._id}}">   
                <form id="comment" action="">
                	<h3 class="pull-left">New Comment</h3>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="commentContent" name="commentContent" placeholder="Your message" required=""></textarea>
								<h3 class="pull-left"> Rating </h3>
								<input type="number" name="commentRating" id="commentRating" min="0" max="5">
								{{!-- <div class="rating" name="commentRating" id="commentRating">
									<input type="radio" id="star5" name="star5" value="5" /><label for="star5" title="Rocks!">5</label>
									<input type="radio" id="star4" name="star4" value="4" /><label for="star4" title="Pretty good">4</label>
									<input type="radio" id="star3" name="star3" value="3" /><label for="star3" title="Kinda bad">3</label>
									<input type="radio" id="star2" name="star2" value="2" /><label for="star2" title="Meh">2</label>
									<input type="radio" id="star1" name="star1" value="1" /><label for="star1" title="Sucks big time">1</label>
								</div> --}}
                            </div>
                        </div>  	
                    </fieldset>
					<button type="submit" class="btn btn-normal pull-right" id="commentSubmit">Submit</button>
                </form>
                
                <h3>Comments</h3>
                
                <div class="media">
					<div id="comment" class="comment">
						{{#each prodDetails.reviews}}
						<div class="media-body">
							<h4 class="media-heading">{{this.commenter}} - {{this.rating}}</h4>
							<p>{{this.content}}</p>
						</div>
						{{else}}
							<p class="container-fluid">No comments for this product.</p>
						{{/each}}
					</div>
                </div>
            </div>
        </div>
    </div>
</section>